.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: pink; /* Cor de fundo do botão */
    color: black; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remove bordas padrão */
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: aqua; /* Cor ao passar o mouse */
}