body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    height: 100vh;
    column-gap: 15px;
}

header {
    grid-area: header;
    background-color: #ffccff; /* Rosa pastel */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

nav {
    grid-area: nav;
    background-color: #add8e6; /* Azul pastel */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

main { 
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr; /* Article maior e Aside menor */
    gap: 20px;
    background-color: #ffffff; /* Branco */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #ffccff; /* Rosa pastel */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

aside {
    background-color: #ffb3ff; /* Rosa claro pastel */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
